<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicRockBean"
          class="com.tashad16a.gmail.RockMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>

    <bean id="musicClassicalBean"
        class="com.tashad16a.gmail.ClassicalMusic"
        init-method="doMyInit"
        destroy-method="doMyDestroy">
    </bean>

    <bean id="musicJazzBean"
        class="com.tashad16a.gmail.JazzMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>

    <bean id="musicPlayer"
          class="com.tashad16a.gmail.MusicPlayer"
          scope="prototype">
        <property name="musicList">
            <list>
                <ref bean="musicRockBean"/>
                <ref bean="musicJazzBean"/>
                <ref bean="musicClassicalBean"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>